
html
{
	scroll-behavior: smooth;
}
.first{
	color: white;
	background-image: url("../IMAGES/bg1.webp");
	background-repeat: no-repeat;
	background-size: cover;
}
.element1{
	height: inherit;
	background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
	opacity: 0.85;

	    display: flex;
    flex-direction: column;
    justify-content: center;    text-align: center;
}
.hello{
	justify-content: center;
	font-size: 62px;
	font-family: "Playfair Display - Black";
	letter-spacing: 0.32px;
}
.simpleText{
	font-family: Roboto;
	font-size: 29px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.7px;
		justify-content: center;
}

.slideM{
	display: none;
	opacity: 0;
}
.current-slide{
	display: block;
	opacity: 1;
}

.nb-btn{	
width: 20px;
height: 20px;
border-color: #00e0d0;
margin: .5rem;
}

.activeBtn{
	opacity: 1;
background-color: #00e0d0;
}
.unActiveBtn{
	opacity: .3;
}


.navbar{
		background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);	
letter-spacing: 0.33px;
display: flex;
justify-content: space-between;
opacity: 0.85;
}
.nav-link{
	color: white;

}
.active>.nav-link{
			color: #00e0d0;
}
.hh2{
	color: #413d4b;
font-family: "Playfair Display";
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.1px;
}
.history
{
	opacity: 0.75;
color: #413d4b;
font-family: Roboto;
font-size: 20px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0.42px;
}
.second{
	padding: 5rem;
}
.third{
	background-image: url("../IMAGES/bg2.webp");
	background-repeat: no-repeat;
	background-size: cover;
}
.forth{
		height: 45rem;
}
.experience{
	padding-top: 5.5rem;
	color: #413d4b;
font-family: "Playfair Display";
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.1px;
}
.h3{
	height: 50rem;	
	color: #413d4b;
font-family: "Playfair Display";
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.1px;
}
h3{
	padding: 5rem 0 3rem 1.5rem;
	height: 35px;
}
.form-control{
	margin: 1.75rem;
	margin-left: 0;
	height: 50px;
}
.large-input{
	height: 250px;
}
.brnd{
	padding: 2rem; 
}

.fifth{
	background-image: url("../IMAGES/bg3.webp");
	background-repeat: no-repeat;
	background-size: cover;
}
.manP{
	width: inherit;
}
.character{
	color: #ffffff;
font-family: "Roboto - Black";
font-size: 17px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.7px;
text-align: center;
}
.name{
	margin: 1.3rem;
	margin-bottom: 0;
}
.c-c{
	border: 1px solid white;
}
.sub{
	opacity: 0.7;
color: #fafafa;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-transform: uppercase;
}
.invite{
	color: #f3f3f3;
font-family: Roboto;
font-size: 18.5px;
font-weight: 300;
letter-spacing: 0.7px;

margin: 5rem 0 5rem 0;
text-align: center;
}
.hire{
font-family: "Hammersmith One";
font-size: 19px;
font-weight: 400;
text-transform: uppercase;
color: #00e0d0;
border-color: #00e0d0;
}
.btn-outline-primary{
	text-align: center;
}
iframe{
	width: 100vw;
	height: inherit;
	opacity: 0;
}
.enabledVideo{
	opacity: 1;
	transition: opacity 2s;
}
#videoButton{
	width: 156px;
	height: 150px;
	margin-top: 20rem;
	background-image: url("../IMAGES/videoButton.webp");
	background-repeat: no-repeat;
}
.txt4{
color: #413d4b;
font-family: "Playfair Display";
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1.1px;
}
.m5050{
margin: 5rem 0 5rem 0;
}
.pic1{
		background-image: url("https://picsum.photos/200/300/?random");	background-size: cover;

}
.pic2{
		background-image: url("https://picsum.photos/g/201/300/?random");	background-size: cover;

}
.pic3{
		background-image: url("https://picsum.photos/200/301/?random");	background-size: cover;

}
.works{
	height: 20vh;
	margin-bottom: 4vh;
}
.seven{
/*	height: 60vh;*/
}
.cit{
	opacity: 0.85;
color: #ffffff;
font-family: "Playfair Display";
font-weight: 400;
line-height: 26px;
letter-spacing: 0.4px;
text-align: center;
padding-top: 15vh;
padding-bottom: 5vh;
}
.pb{
	padding-bottom: 4rem;
}
.person{
	width: 70px;
	margin-left: 45%;
}
.active{
	display: flex;
	justify-content: center;
}
.carousel{
	margin-top: 7rem;
}
.beforeFooter{
	height: 750px;
}
.footer{
	background-image: url("../IMAGES/footer.webp");
	height: 400px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.plink{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: green;
	background-image: url("../IMAGES/twitter.webp");
	background-size: cover;
	background-repeat: no-repeat;
	top: 10rem;
}

.icon{
	margin: 0px auto 26px;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}
.iconBlock{
	padding-top: 1rem;
}
.iconH{
	color: #413d4b;
font-family: "Roboto - Black";
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.7px;
position: relative;
}
.icon1{
	background-image: url("../IMAGES/icon1.webp");
}
.icon2{
	background-image: url("../IMAGES/icon2.webp");
}
.icon3{
	background-image: url("../IMAGES/icon3.webp");
}
.icon4{
	background-image: url("../IMAGES/icon4.webp");
}
.icon5{
	background-image: url("../IMAGES/icon5.webp");
}
.icon6{
	background-image: url("../IMAGES/icon6.webp");
}
.iconText{
	opacity: 0.75;
color: #333333;
font-family: Roboto;
font-weight: 300;
line-height: 22px;
letter-spacing: 0.7px;
}
.sign{
	position: absolute;
	left: 49%;
	height: 26px;
	width: 32px;
	margin-top: 7vh;
		background-image: url("../IMAGES/123.webp");
}
.sendBtn{
	background-image: url("../IMAGES/send.webp");
	background-repeat: no-repeat;
	background-size: cover;
	width: 85px;
	height: 50px;
	margin-top: 1.5rem;
}

.b-t{
		border-top: 2px solid darkgray;
}
.b-l{
		border-left: 2px solid darkgray;
}
.b-b{
		border-bottom: 2px solid darkgray;
}
.b-r{
		border-right: 2px solid darkgray;
}
.m-t{
	margin-top: 3rem;
}
.fullscreen
{
		height: 93.2vh;
}
.white{
		color: white;
}
.m{
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.m1{
	margin: 4.5rem 0 1rem 0;
}
.manP:hover{
	filter: blur(2px) grayscale(100%) opacity(50%);
	transition: 0.3s;
}
.brnd:hover{
	filter: opacity(50%);
}